<section>
    <h1>Match #<span class="match-number">--</span></h1>
    <div class="section-content">
        <div class="panel">
            <input id="input-name">
            <select name="position" id="robot-id">
                <option value=null></option>
            </select>
        </div>
    </div>
</section>
<section>
    <h1>Auto</h1>
</section>
<section>
    <h1>Totes</h1>
    <div class="section-content">
        <div class="panel">
            <input type="button" class="decrease" value="-6" />
            <input type="number" value="0" name="tt6" id="tt6" class="number tote"></input>
            <input type="button" class="increase" value="+6" />
        </div>
        <div class="panel">
            <input type="button" class="decrease" value="-5" />
            <input type="number" value="0" name="tt5" id="tt5" class="number tote"></input>
            <input type="button" class="increase" value="+5" />
        </div>
        <div class="panel">
            <input type="button" class="decrease" value="-4" />
            <input type="number" value="0" name="tt4" id="tt4" class="number tote"></input>
            <input type="button" class="increase" value="+4" />
        </div>
        <div class="panel">
            <input type="button" class="decrease" value="-3" />
            <input type="number" value="0" name="tt3" id="tt3" class="number tote"></input>
            <input type="button" class="increase" value="+3" />
        </div>
        <div class="panel">
            <input type="button" class="decrease" value="-2" />
            <input type="number" value="0" name="tt2" id="tt2" class="number tote"></input>
            <input type="button" class="increase" value="+2" />
        </div>
        <div class="panel">
            <input type="button" class="decrease" value="-1" />
            <input type="number" value="0" name="tt1" id="tt1" class="number tote"></input>
            <input type="button" class="increase" value="+1" />
        </div>
    </div>
</section>
<section>
    <h1>Bins</h1>
    <div class="section-content">
        <div class="panel">
            <input type="button" class="decrease" value="-6" />
            <input type="number" value="0" name="tb6" id="tb6" class="number bin"></input>
            <input type="button" class="increase" value="+6" />
        </div>
        <div class="panel">
            <input type="button" class="decrease" value="-5" />
            <input type="number" value="0" name="tb5" id="tb5" class="number bin"></input>
            <input type="button" class="increase" value="+5" />
        </div>
        <div class="panel">
            <input type="button" class="decrease" value="-4" />
            <input type="number" value="0" name="tb4" id="tb4" class="number bin"></input>
            <input type="button" class="increase" value="+4" />
        </div>
        <div class="panel">
            <input type="button" class="decrease" value="-3" />
            <input type="number" value="0" name="tb3" id="tb3" class="number bin"></input>
            <input type="button" class="increase" value="+3" />
        </div>
        <div class="panel">
            <input type="button" class="decrease" value="-2" />
            <input type="number" value="0" name="tb2" id="tb2" class="number bin"></input>
            <input type="button" class="increase" value="+2" />
        </div>
        <div class="panel">
            <input type="button" class="decrease" value="-1" />
            <input type="number" value="0" name="tb1" id="tb1" class="number bin"></input>
            <input type="button" class="increase" value="+1" />
        </div>
    </div>
</section>
<section>
    <h1>Coopertition</h1>
</section>
