<!DOCTYPE html>
<head>
    <meta charset="UTF-8" />
    <title>The Hitchhikers - Scouting</title>
    {{> style}}
</head>
<body>
    <div class="wrapper">
        {{> header}}
        <div class="content">
            <article>
                {{> match_input}}
            </article>
        </div>
    </div>
</body>
{{> scripts}}
{{> panel_script}}
</html>