<!DOCTYPE html>
<head>
    <meta charset="UTF-8" />
    <title>{{title}}</title>
    {{> style}}
</head>
<body>
    <div class="wrapper">
        {{> header}}
        <div class="content">
            <article>
                {{#success}}
                    <h1 id="page-title">{{title}}</h1>
                    <noscript><h2>Please enable JavaScript to enable full features.</h2></noscript>
                {{> modules}}
                {{> posts}}
                {{else}}
                    {{> error}}
                {{/success}}
            </article>
        </div>
    </div>
{{> scripts}}
{{#each script}}
    <script>{{{this}}}</script>
{{/each}}
{{> panel_script}}
</body>
</html>