<header class="header">
    <div id="alerts" class="fixed"></div>
    <div class="logo">
    <span class="logo"></span>
    <a href="/" class="logo">The Hitchhikers</a>
    </div>
    <nav class="navigation">
        <ul>
            <li><a href="/">Scout</a>
            <li><a href="/monitor">Monitor</a>
            <li><a href="/results">Results</a>
        </ul>
    </nav>
</header>
