<!DOCTYPE html>
<head>
    <meta charset="UTF-8" />
    <!-- mobile meta -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>The Hitchhikers</title>
</head>
<body>
<header class="header">
    <div id="alerts" class="fixed"></div>
    <div class="logo">
        <span class="logo"></span>
        <a href="/" class="logo">The Hitchhikers</a>
    </div>
    <nav class="navigation">
        <ul>
            <li><a href="/">Home</a>
            <li><a href="/blog/">Blog</a>
            <li><a href="/admin/">Admin</a>
        </ul>
    </nav>
</header>
<div class="wrapper">
    <div class="content">
        <article id="container">
            {{{content}}}
        </article>
    </div>
</div>
<script src="/static/templates.js"></script>
<script id="props" type="application/json">
    {{{ initial }}}
</script>
<script src="/static/thums.js"></script>
</body>
</html>